
/* Basic Elements */

html {
	margin: auto;
	padding: 5px;
	font-family: times;
	display: 90%;
	}

box-sizing {border;}

body {
	color: black;
	width: auto;
	padding-top: 25px;
	padding-right: 5px;
	text-align: justify;

	}

h1 {
	text-align: center;
	color: indigo;
	font-size: 1.75em;
	position: relative center;
	}

#p1 {
	width: auto;
	padding-top: 25px;
	padding-right: 5px;
	padding-left: 5px;
	height: auto;
}

#p2 {
	width: auto;
	padding-top: 25px;
	padding-right: 5px;
	padding-left: 5px;
	height: auto;
}

#p3 {
	width: auto;
	padding-top: 25px;
	padding-right: 5px;
	padding-left: 5px;
	height: auto;

}

#ht1 {

	float: right;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 5px;
	width: 100px;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	padding: 0;
	text-align: center;
	vertical-align: middle;
	font-size: 1.25em;
	height: 25px;
	position: relative right top;
		background-color: #33EEEE;

	}

#ht2 {
	float: right;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 5px;
	width: 100px;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	left-padding: 0;
	text-align: center;
	vertical-align: middle;
	font-size: 1.25em;
	height: 25px;
	position: relative;
		background-color: #EE99EE;
	}

#ht3 {
	float: right;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 5px;
	width: 100px;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	padding: 0;
	text-align: center;
	vertical-align: middle; 
	font-size: 1.25em;
	height: 25px;
	position: relative;
		background-color: #EEEE33;
	}

#box1 {
	text-align: justify;
	float: left;
	background-color: #EE9922;
	padding: 0px 0px 0px 5px;
	border: 1px solid black;
	width: auto;
	height: auto;
	top: 0;
	margin-bottom: 10px;
	}

#box2 {
	text-align: justify;
	float: left;
	background-color: #EE9922;
	padding: 0px 0px 0px 5px;
	border: 1px solid black;
	width: auto;
	height: auto;
	margin-bottom: 10px;
	}

#box3 {
	text-align: justify;
	float: left;
	background-color: #EE9922;
	padding: 0px 0px 0px 5px;
	border: 1px solid black;
	width: auto;
	height: auto;
	margin-bottom: 5px;
	}

/*** Large Devices ***/

@media (min-width: 992px) {

	#box1 {width: 32%;
			height: auto;
			margin-left: .5%;
			float: left;}

	#p1 {min-height: 147px;}

	#box2 {width: 32%;
			min-height: auto;
			margin-left: 5px;
			float: left;}

	#p2 {min-height: 147px;}

	#box3 {width: 32%;
			height: auto;
			float: left;
			margin-left: 5px;
			margin-right: .5%;
			}

	#p3 {min-height: 147px;}


	}

/*** Medium Devices ***/

@media (min-width: 768px) and (max-width: 991px) {

	#box1 {width: 49%;
			margin-left: .5%;
			margin-right: .5%;
			float: left;}

	#p1 {min-height: 130px;}

	#box2 {width: 49%;
			margin-right: .5%;
			float: left;}

	#p2 {min-height: 130px;}

	#box3 {width: 98.5%;	
			height: auto;
			float: right;
			margin-right: 1%}

}

/*** Small Devices ***/

@media (max-width: 767px) {
	
	#box1 {width: auto; float: right; margin-left: 5px; margin-right:1%;}
	#box2 {width: auto; float: right; margin-left: 5px; margin-right:1%;}
	#box3 {width: auto; float: right; margin-left: 5px; margin-right:1%;}
	}

}

</style>
